html {
	position: relative;
	min-height: 100%;
}

body {
	background: grey url("../img/background.jpg") no-repeat center center fixed;
	background-size: cover;
}

.navbar {
	border-radius: 0px;
}


/* HANDY VERSION */

.panel-default>.panel-heading {
	color: #ddd;
	background: url("../img/pattern1.png") repeat;
	border-color: #5A5A5A;
}

.panel-default {
	border-color: #5A5A5A;
}

.panel-body {
	color: #ddd;
	background: url("../img/pattern2.png") repeat;
}

.form-ctrl {
	width: 350px;
}

.locked {
	background: url("../img/games/locked.png") no-repeat;
	margin: 0 auto;
	height: 34px;
	width: 110px;
}

.unlocked {
	background: url("../img/games/unlocked-1.png") no-repeat;
	margin: 0 auto;
	height: 34px;
	width: 110px;
}

.unlocked:hover {
	background: url("../img/games/unlocked-2.png") no-repeat;
	margin: 0 auto;
	height: 34px;
	width: 110px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: inherit;
	border-top: 1px solid rgba(221, 221, 221, 0.09);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 52px;
	background-color: #222;
	border: 1px solid #080808;
	color: #999;
	padding: 15px;
}


/* PC VERSION */

@media (min-width: 992px) {
	.container {
		width: 970px;
}

.panel-default>.panel-heading {
	color: #ddd;
	background: url("../img/pattern1.png") repeat;
	border-color: #5A5A5A;
}

.panel-default {
	border-color: #5A5A5A;
}

.panel-body {
	color: #ddd;
	background: url("../img/pattern2.png") repeat;
}

.form-ctrl {
	width: 350px;
}

.locked {
	background: url("../img/games/locked.png") no-repeat;
	margin: 0 auto;
	height: 34px;
	width: 110px;
}

.unlocked {
	background: url("../img/games/unlocked-1.png") no-repeat;
	margin: 0 auto;
	height: 34px;
	width: 110px;
}

.unlocked:hover {
	background: url("../img/games/unlocked-2.png") no-repeat;
	margin: 0 auto;
	height: 34px;
	width: 110px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: inherit;
	border-top: 1px solid rgba(221, 221, 221, 0.09);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 52px;
	background-color: #222;
	border: 1px solid #080808;
	color: #999;
	padding: 15px;
}